html{
	background: blue url("aurora.jpg");
	background-size: cover;
}

body{
	display: flex;
	flex: 1;
	margin: 0px;
	min-height: 640px;
	align-items: center;
}

.clock{
	height: 300px;
	width: 300px;
	justify-content: center ;
	margin: 50px auto;
	border:20px solid #eff7f6;
	border-radius: 50%;
	align-items: center;
	position: relative;
	padding:30px;
}

.clock-face{
	height: 100%;
	width: 100%;
	position: relative;
}

.hand{
	width: 50%;
	height:10px;
	background:black;
	position: absolute;
	border-radius: 5px;
	top: 50%;
	transform-origin: 100%;
	transform: rotate(90deg);
	transition: all 0.5sec;
    	transition-timing-function: cubic-bezier(0.77, 1.49, 0.58, 1);
}

.hour-hand{
	

}

.min-hand{
	
}

.sec-hand{
	
}